.btn-close-session{
    width: auto;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 19px;
    background-color: #0086bf;
    cursor: pointer;

}

.flex{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(243, 243, 243);
  margin-bottom: 25px;
}