
<div class="flexbox-content">
  <form class="login-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="registarUsuario()">

    <h1 class="login-form-title">
      Creación de cuenta
    </h1>

    <div class="wrap-input m-b">
      <span class="label-input">Nombre</span>
      <input class="input" type="text" formControlName="name" placeholder="Ingrese su nombre">
      <span class="text-danger" *ngIf="campoEsValidoReactivo('name')">

        El nombre debe ser 6 caracteres o mayor
      </span>
    </div>

    <div class="wrap-input m-b">
      <span class="label-input">Email</span>
      <input class="input" type="email" formControlName="email" placeholder="Ingrese su email">
      <span class="text-danger" *ngIf="campoEsValidoReactivo('email')">

        Por favor poner un email valido
      </span>
    </div>

    <div class="wrap-input">
      <span class="label-input">Password</span>
      <input class="input" type="password" formControlName="password" autocomplete="off"
        placeholder="Ingrese su contraseña">

      <span class="text-danger" *ngIf="campoEsValidoReactivo('password')">

        La contraseña debe ser 6 caracteres o mayor
      </span>
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login-form-btn">
      <div class="wrap-login-form-btn">
        <div class="login-form-bgbtn"></div>
        <button class="login-form-btn" type="submit" [disabled]="miFormulario.invalid" [ngClass]="{'blue-valid': !miFormulario.invalid,
        'blue-invalid': miFormulario.invalid}">
          Registrar
        </button>
      </div>
    </div>


  </form>
  <div class="crearCuenta">

    <a routerLink="/login" class="">
      Volver a inicio sesión
    </a>
  </div>
  <!-- Mensaje de validaciones del servidor-->

  <div class="mensaje-erroneo" *ngIf="mensaje.length>0">
    <p *ngFor="let msj of mensaje" class="margin-mesaje-parrafo">
      {{msj}}
    </p>
  </div>
</div>
<!-- 
<h1>Validaciones</h1>
<br>
<h3>Valid</h3>
<pre>{{miFormulario.valid}}</pre>

<h3>Touched</h3>
<pre>{{miFormulario.touched}}</pre> -->